
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Yanone+Kaffeesatz&display=swap');
@import url("components/container.css");
@import url("components/button.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url('images/background.jpg')
 

 body {
	font-family: 'Yanone Kaffeesatz',serif;
	font-size: 18px ;
	width: ;
}


h1, h2,h3{
	font-family: 'Allison', bold, cursive;

	font-weight: lighter ;
}
a{text-decoration: none;}




